USE [master]
GO
/****** Object:  Database [webstorydb]    Script Date: 15-Apr-26 11:03:11 ******/
CREATE DATABASE [webstorydb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'webstorydb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\webstorydb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'webstorydb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\webstorydb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [webstorydb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [webstorydb]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 15-Apr-26 11:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[id_Author] [int] IDENTITY(1,1) NOT NULL,
	[id_User] [int] NULL,
	[PenName] [nvarchar](100) NULL,
	[Bio] [nvarchar](max) NULL,
	[Avatar] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 15-Apr-26 11:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id_Category] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 15-Apr-26 11:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[id_Comment] [int] IDENTITY(1,1) NOT NULL,
	[id_Story] [int] NULL,
	[id_User] [int] NULL,
	[Posted_At] [datetime] NULL,
	[Content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Comment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChapterAudio]    Script Date: 15-Apr-26 11:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChapterAudio](
	[id_Audio] [int] IDENTITY(1,1) NOT NULL,
	[id_Chapter] [int] NULL,
	[AudioUrl] [varchar](max) NULL,
	[Generated_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Audio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapters]    Script Date: 15-Apr-26 11:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapters](
	[id_Chapter] [int] IDENTITY(1,1) NOT NULL,
	[id_Story] [int] NULL,
	[ChapterNumber] [decimal](5, 2) NULL,
	[ChapterName] [nvarchar](250) NULL,
	[Posted_At] [datetime] NULL,
	[Modified_At] [datetime] NULL,
	[Content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Chapter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favourites]    Script Date: 15-Apr-26 11:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favourites](
	[id_Favourite] [int] IDENTITY(1,1) NOT NULL,
	[id_Story] [int] NULL,
	[id_User] [int] NULL,
	[Added_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Favourite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Memberships]    Script Date: 15-Apr-26 11:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Memberships](
	[id_Membership] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[Duration] [int] NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Membership] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 15-Apr-26 11:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[id_Noti] [int] IDENTITY(1,1) NOT NULL,
	[id_User] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[IsRead] [bit] NULL,
	[Created_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Noti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 15-Apr-26 11:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[id_Payment] [int] IDENTITY(1,1) NOT NULL,
	[id_User] [int] NULL,
	[id_Membership] [int] NULL,
	[Amount] [decimal](10, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[Created_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Payment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reading_History]    Script Date: 15-Apr-26 11:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reading_History](
	[id_History] [int] IDENTITY(1,1) NOT NULL,
	[id_Story] [int] NULL,
	[id_User] [int] NULL,
	[id_Chapter] [int] NULL,
	[Last_Read_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_History] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stories]    Script Date: 15-Apr-26 11:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stories](
	[id_Story] [int] IDENTITY(1,1) NOT NULL,
	[id_Author] [int] NULL,
	[StoryName] [nvarchar](max) NULL,
	[id_Category] [int] NULL,
	[Posted_At] [date] NULL,
	[Modified_At] [datetime] NULL,
	[Image] [varchar](250) NULL,
	[Description] [nvarchar](max) NULL,
	[Views] [int] NULL,
	[Rating] [float] NULL,
	[PostStatus] [nvarchar](50) NULL,
	[Reject_Reason] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Story] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMemberships]    Script Date: 15-Apr-26 11:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMemberships](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_User] [int] NULL,
	[id_Membership] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15-Apr-26 11:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id_User] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Role] [int] NULL,
	[created_at] [datetime] NULL,
	[modified_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [Posted_At]
GO
ALTER TABLE [dbo].[ChapterAudio] ADD  DEFAULT (getdate()) FOR [Generated_At]
GO
ALTER TABLE [dbo].[Chapters] ADD  DEFAULT (getdate()) FOR [Posted_At]
GO
ALTER TABLE [dbo].[Chapters] ADD  DEFAULT (getdate()) FOR [Modified_At]
GO
ALTER TABLE [dbo].[Favourites] ADD  DEFAULT (getdate()) FOR [Added_At]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Reading_History] ADD  DEFAULT (getdate()) FOR [Last_Read_At]
GO
ALTER TABLE [dbo].[Stories] ADD  DEFAULT (getdate()) FOR [Posted_At]
GO
ALTER TABLE [dbo].[Stories] ADD  DEFAULT (getdate()) FOR [Modified_At]
GO
ALTER TABLE [dbo].[Stories] ADD  DEFAULT ((0)) FOR [Views]
GO
ALTER TABLE [dbo].[Stories] ADD  DEFAULT (N'cho_duyet') FOR [PostStatus]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [modified_at]
GO
ALTER TABLE [dbo].[Authors]  WITH CHECK ADD FOREIGN KEY([id_User])
REFERENCES [dbo].[Users] ([id_User])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([id_Story])
REFERENCES [dbo].[Stories] ([id_Story])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([id_User])
REFERENCES [dbo].[Users] ([id_User])
GO
ALTER TABLE [dbo].[ChapterAudio]  WITH CHECK ADD FOREIGN KEY([id_Chapter])
REFERENCES [dbo].[Chapters] ([id_Chapter])
GO
ALTER TABLE [dbo].[Chapters]  WITH CHECK ADD FOREIGN KEY([id_Story])
REFERENCES [dbo].[Stories] ([id_Story])
GO
ALTER TABLE [dbo].[Favourites]  WITH CHECK ADD FOREIGN KEY([id_Story])
REFERENCES [dbo].[Stories] ([id_Story])
GO
ALTER TABLE [dbo].[Favourites]  WITH CHECK ADD FOREIGN KEY([id_User])
REFERENCES [dbo].[Users] ([id_User])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([id_User])
REFERENCES [dbo].[Users] ([id_User])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([id_Membership])
REFERENCES [dbo].[Memberships] ([id_Membership])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([id_User])
REFERENCES [dbo].[Users] ([id_User])
GO
ALTER TABLE [dbo].[Reading_History]  WITH CHECK ADD FOREIGN KEY([id_Chapter])
REFERENCES [dbo].[Chapters] ([id_Chapter])
GO
ALTER TABLE [dbo].[Reading_History]  WITH CHECK ADD FOREIGN KEY([id_Story])
REFERENCES [dbo].[Stories] ([id_Story])
GO
ALTER TABLE [dbo].[Reading_History]  WITH CHECK ADD FOREIGN KEY([id_User])
REFERENCES [dbo].[Users] ([id_User])
GO
ALTER TABLE [dbo].[Stories]  WITH CHECK ADD FOREIGN KEY([id_Author])
REFERENCES [dbo].[Authors] ([id_Author])
GO
ALTER TABLE [dbo].[Stories]  WITH CHECK ADD FOREIGN KEY([id_Category])
REFERENCES [dbo].[Categories] ([id_Category])
GO
ALTER TABLE [dbo].[UserMemberships]  WITH CHECK ADD FOREIGN KEY([id_Membership])
REFERENCES [dbo].[Memberships] ([id_Membership])
GO
ALTER TABLE [dbo].[UserMemberships]  WITH CHECK ADD FOREIGN KEY([id_User])
REFERENCES [dbo].[Users] ([id_User])
GO
USE [master]
GO
